/* SCSS declaration and such... */
$figure-normal: 250px;
$figure-larger: 300px;
$figure-large:  350px;
$figure-middle: 460px;

@mixin figure-on-left {
    margin-right: 1.3em;
}

@mixin figure-on-right {
    margin-left: 1em;
}

@mixin transX($dist) {
    -webkit-transform: translateX($dist);
        -ms-transform: translateX($dist);
            transform: translateX($dist);
}

@mixin transY($dist) {
    -webkit-transform: translateY($dist);
        -ms-transform: translateY($dist);
            transform: translateY($dist);
}

@mixin transy-scale($dist, $sc) {
    -webkit-transform: translateY($dist) scale($sc);
        -ms-transform: translateY($dist) scale($sc);
            transform: translateY($dist) scale($sc);
}

@mixin rot($angle) {
    -webkit-transform: rotate($angle);
        -ms-transform: rotate($angle);
            transform: rotate($angle);
}

@mixin hyphen($val) {
    -webkit-hyphens: $val;
       -moz-hyphens: $val;
        -ms-hyphens: $val;
            hyphens: $val;
}

@mixin flexbox {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-flow($values: (row nowrap)) {
	-webkit-flex-flow: $values;
        -ms-flex-flow: $values;
            flex-flow: $values;
}

/* Import the original shower file */
@import url("screen.min.css");

/* ----------------------- */
/* Set all the right fonts */
/* ----------------------- */
@font-face {
    font-family: "myfont";
    src: url(../fonts/Roboto-Light-webfont.woff) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "myfont";
    src: url(../fonts/Roboto-Regular-webfont.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "myfont";
    src: url(../fonts/Roboto-BoldItalic-webfont.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "myfont";
    src: url(../fonts/Roboto-LightItalic-webfont.woff) format('woff');
    font-style: italic;
}
@font-face {
    font-family: "blackboard";
    src: url(../fonts/ArchitectsDaughter.woff) format('woff');
    font-style: normal;
}

/* --------------------- */
/* Generic setups        */
/* --------------------- */
body {
    font-family: myfont;
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
}

ul ul li, ol ul li {
    font-size: 80% !important
}

ul li, ol li    {
    padding-bottom: 0.3em !important
}

li, blockquote, td {
    @include hyphen(auto);
    text-align: justify;
}

/* ------------------------- */
/* Header part (in TOC mode) */
/* ------------------------- */

header {
    a {
        color: khaki !important;
    }
    p, h1, h2, h3   {
        color: snow;
    }
}

.caption {
    font-size: 22pt;
    a {
        text-shadow: 0 -1px 1px #005a9c;
        background: 0 0;
    }

    a:hover {
        color: #5e93c8;
    }
}

/* -------------------------------------- */
/*  The real meat: styles for slides      */
/* -------------------------------------- */

/* This places the logo and slide number on the upper right hand corner */
.slide::after {
    background: url(../images/ribbon_w3c.svg) no-repeat;
    width: 60px;
    font-size: 20px;
    padding: 50px 0 0;
    right: 110px;
    height:130px;
    z-index: -2;
    @include transy-scale(-15%, 0.7);
}

/* Generic slide features */
.slide {
    background: snow;
    font-family: myfont;
    font-size: 32px;
    color: hsla(200,0%,0%,.75);
    line-height: 1.28;

    h1, h2, h3, h4, li, p, td, th, blockquote, dt, dd, figcaption {
        cursor: default;
    }

    h1, h2, h3, h4 {
        margin: 0 0 0px;
        padding-bottom: 2.2px;
        border-bottom:  2px solid #004480;
        color: #004480;
        @include hyphen(none);
        text-align: center;
        font-weight: normal;
        line-height: 0.9em;
        padding-right: 1.6em;
        padding-left: 1.6em;
    }

    h2 {
        @include transY(-50%);
    }

    h2 {
        font-size: 1.5em;
        text-shadow: 0 1px 1px black;
    }

    h3 {
        font-size: 1.1em
    }

    h4 {
        font-size: 1em;
    }

    h1.title {
        font-size:      2.8em;
        padding-top:    2em;
        padding-bottom: 2.2px;
        border-bottom:  none !important;
        text-align: center;
    }

    ol ol, ol ul, ul ol, ul ul {
        margin: 0 0 0 0.5em;
    }

    .notitle {
        margin-top: 3em
    }

    a {
        background: transparent;
        -webkit-transition-property: background;
                transition-property: background;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
    }

    a:hover {
        background: hsla(60, 96%, 55%, 0.7);
        border-radius: 5px;
    }

    kbd, code, samp {
        background: transparent;
        color: inherit;
    }

    code {
        font-family: monospace;
        font-size: 80%;
        color: green;
    }

    pre {
        @extend code;
        line-height: 1.1em;
        white-space: pre !important;
    }

    em {
        /* A Lea Verou trick for a nicer underline...*/
        background: linear-gradient(gray, gray) no-repeat;
        background-size: 100% 1px;
        background-position: 0 1.15em;
    }

    ol li:before, ul li:before {
        display: inline-block;
        width: 2em;
        color: #333333;
        text-align: right;
    }

    ul.smaller, ol.smaller {
        font-size: 90%;
    }

    table {
        /* General Tables */
        font-size: 90%;
        border-collapse: collapse;
        border-spacing: 0.1em;
        border: none !important;
        width: calc(80% + 100px + 100px);
        margin-left: 0;
        @include transX(-15px);


        td {
            border: 1px solid #CCC;
            padding: 0.3em;
            padding-right:0.5em;
            text-align: left;
        }

        th.headertop {
            text-align: center;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
        }

        th.headerleft {
            padding-right: 1em;
            text-align:right;
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
        }
    }

    table.striped {
        /* "Striped" (sometimes called 'zebra') Tables */
        border-right: none;
        border-left: none;
        tr:nth-child(even) {
            background: hsl(160, 96%, 91%);
        }

        td, th {
            border-top: none;
            border-bottom: none;
        }

        tr td::first-child, tr th::first-child {
            border-left: none;
        }

        tr td::last-child, tr th:last-child {
            border-right: none;
        }
    }

    table.comparison {
        /* "Comparison" tables */
        padding-left: 0em !important;
        margin: 0em !important;
        margin-bottom: 0.5em !important;
        font-size: 90%;
        table-layout: fixed;

        th {
            text-align: center;
        }
        td {
            padding: 0.3em;
        }
    }

    .slidequote {
        font-size:65%;
        margin-left:2em;
        margin-right:2em;
        border: thin solid;
        padding-left:1.5em;
        padding-right: 1em;
        border-radius:5px;
        box-shadow: 7px 7px 5px #888;
    }
}
/* ---------------------------------------------------------------------------------------------- */
/* "Alternative" slides, ie, slides that are an alternative for one (or several) previous slides  */
/* ---------------------------------------------------------------------------------------------- */

.slide.alternative h2 {
    background: AntiqueWhite !important;
}

/* ------------------------------------------------------------------------------------------- */
/* "Shout" slides, ie, with one single message placed centrally                                */
/* In many of the slides this is combined with a background image and additional translations  */
/* ------------------------------------------------------------------------------------------- */
.slide.shout {
    h2, h3 {
        text-shadow: 0 1px 1px black;
        border-bottom: none;
        width: 100%;
    }

    h3 {
        font-size: 2em;
        margin-top: 1.5em;
        text-align: center;
        line-height: 1;
        padding-right: 0em;
        padding-left: 0em;
    }

    h2 {
        font-size: 2.8em;
        margin-top: -1em;
        text-align: left;
        line-height: 1;
    }

    h2 {
        @include transY(25%);
    }
}

/* Stamp */
.slide .stamp {
    font-size: 5em;
    letter-spacing: 0.1em;
    position:absolute;
    top: 1.2em;
    left: 30%;
    @include rot(-20deg);
    color: hsla(0, 100%, 55%, 1.0);
    background: hsla(0,0%,100%,0.6);
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.2em;
    padding-left: 0.07em;
    padding-right: 0.07em;
    box-shadow: 0.05em 0.05em 0.05em #888;
    text-shadow: 0.05em 0.05em 0.05em gray;
    @include hyphen(none);
}

.slide .stamp.small {
    font-size:2.5em;
    letter-spacing: 0.1em;
    position:absolute;
    top: 3.3em;
    left: 15%;
}

.slide.stamped::after {
    -webkit-filter: blur(2px) contrast(.8) brightness(.8);
            filter: blur(2px) contrast(.8) brightness(.8);

}
.slide.stamped {
    h2, ul, ol, figure, dl, p:not(.stamp), blockquote {
        @extend .slide.stamped::after;
    }
}

/* The first, "title" page */
.slide.titlepage {
    h1, h2, h3, h4 {
        border-bottom:  none !important;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        margin-top:2em;
        text-shadow: 0 1px 1px black;
    }

    h3 {
        font-size: 1em;
        text-transform: none;
        margin-bottom:0.1em;
    }

    h4 {
        font-size: 0.8em;
        margin-bottom:0.15em;
        text-transform: none;
    }

    p {
        font-size: 0.5em;
    }

    p.copyright {
        position: absolute;
        bottom: 0.3em;
        right: 10em;
        left: 10em;
        margin-bottom: 0;
        font-size: 35%;
        line-height: 1.3em;
    }
}

.slide.cover {
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        z-index: -1;
    }

    .credit {
        margin-top: 3em;
        margin-bottom: 0px;
        padding-bottom: 15px;
        font-size: 23%;
        position: absolute;
        left: 5px;
        bottom: 0px;
        color:snow;
    }

    h3 {
        background: hsla(181, 9%, 78%, 0.75);
        box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
                    0 .5em 1em rgba(0, 0, 0, 0.6);
        text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
        border-radius: 10px;
        padding-right: 0em;
        padding-left: 0em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        color: inherit;
        margin-top: 2em;
    }
}


/* -------------------------------------------------------------------------------------------------------------- */
/* Different ways of controlling figures. If the text should flow around the figure use, right or left; otherwise */
/* using flex boxes is probably the right way.                                                                    */
/* -------------------------------------------------------------------------------------------------------------- */
/* Note: for webkit and mozilla the min-width seems to be unnecessary, but it is necessary for Safari... */

@mixin normal-figure {
    max-width: $figure-normal;
    min-width: $figure-normal;
    img {
        max-width: inherit;
        width: $figure-normal;
        border: 1px solid #CCC;
        box-shadow: 7px 7px 5px #888;
    }
}

@mixin larger-figure {
    max-width: $figure-larger;
    min-width: $figure-larger;
    img {
        width: $figure-larger;
        box-shadow: 3px 3px 2px #888;
    }
}

@mixin large-figure {
    max-width: $figure-large;
    min-width: $figure-large;
    img {
        width: $figure-large;
        box-shadow: 3px 3px 2px #888;
    }
}

@mixin fbox($pos) {
    @include flexbox;
    @if $pos == right {
        @include flex-flow(row-reverse);
        figure {
            @include figure-on-right;
            @include normal-figure;
        }
        figure.larger {
            @include larger-figure;
        }
        figure.large {
            @include large-figure;
        }

    } @else if $pos == left {
        @include flex-flow(row);
        figure {
            @include figure-on-left;
            @include normal-figure;
        }
        figure.larger {
            @include larger-figure;
        }
        figure.large {
            @include large-figure;
        }
    } @else if $pos == bottom {
        @include flex-flow(column);
        figure {
            max-height: $figure-larger;
            min-height: $figure-larger;
            margin-top: 0em;
            @include transY(-40px);
        }
        img {
            height: $figure-larger;
        }
    }
}

figure.middle {
    text-align: center;
    img {
        max-height: $figure-middle;
        min-height: $figure-middle;  /* 7px 7px 5px #888 */
        border: 1px solid #CCC;
        box-shadow: 3px 3px 2px #888;
    }
    video {
        border: 1px solid #CCC;
        box-shadow: 3px 3px 2px #888;
    }
}

/* ----------- */

figure.center, figure.centre {
    text-align: center;
}

figure.right {
    float: right;
    @include figure-on-right;
    @include normal-figure;
}

figure.left {
    float: left;
    @include figure-on-left;
    @include normal-figure;
}

figure.right.larger, figure.left.larger {
    @include larger-figure;
}

figure.right.large, figure.left.large {
    @include large-figure;
}

div.flexright {
    @include fbox(right);
}

div.flexleft {
    @include fbox(left);
}

div.flexdown {
    @include fbox(bottom);
}

img.noborder {
    border: 0px solid #CCC !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px #888 !important;
}

figure > figcaption {
    font-size: 25%;
    padding-top:0;
    margin-top:0;
    /* padding-left:1em; */
    text-align: center;
}

.credit::before {
    content: "Credit: ";
    font-style: italic;
}

/* ---------------------*/
/* Misc stuff           */
/* ---------------------*/

dt { font-weight: bold; }
dd { padding-left: 1.5em; }

dl.plain dt { font-weight: inherit !important; }

div.doublelist {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count : 2;
}

div.doublelist ul li {
    list-style: none !important;
}

div.doublelist ul li::before {
    content: "" !important ;
}

p.copyright {font-size:70%}

ul ul li {padding-bottom: 0em !important}


@media print {
    figure.right img, figure.left img, div.flexright img, div.flexleft img {
        border: 0px solid #CCC !important;
        border-radius: 0px !important;
        box-shadow: 0px 0px 0px #888 !important;
    }
    .slide .stamp {
        box-shadow: 0em 0em 0em #888;
        text-shadow: 0em 0em 0em #888;
    }
}
