/* SCSS declaration and such... */
/* Import the original shower file */
@import url("screen.css");
/* ----------------------- */
/* Set all the right fonts */
/* ----------------------- */
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-Light-webfont.woff) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-Regular-webfont.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-BoldItalic-webfont.woff) format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-LightItalic-webfont.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: "blackboard";
  src: url(../fonts/ArchitectsDaughter.woff) format("woff");
  font-style: normal;
}
/* --------------------- */
/* Generic setups        */
/* --------------------- */
/* line 89, style.scss */
body {
  font-family: myfont;
  line-height: 1.25;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
}

/* line 95, style.scss */
ul ul li, ol ul li {
  font-size: 80% !important;
}

/* line 99, style.scss */
ul li, ol li {
  padding-bottom: 0.3em !important;
}

/* line 103, style.scss */
li, blockquote, td {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

/* ------------------------- */
/* Header part (in TOC mode) */
/* ------------------------- */
/* line 113, style.scss */
header a {
  color: khaki !important;
}
/* line 116, style.scss */
header p, header h1, header h2, header h3 {
  color: snow;
}

/* line 121, style.scss */
.caption {
  font-size: 22pt;
}
/* line 123, style.scss */
.caption a {
  text-shadow: 0 -1px 1px #005a9c;
  background: 0 0;
}
/* line 128, style.scss */
.caption a:hover {
  color: #5e93c8;
}

/* -------------------------------------- */
/*  The real meat: styles for slides      */
/* -------------------------------------- */
/* This places the logo and slide number on the upper right hand corner */
/* line 138, style.scss */
.slide:after {
  position: absolute;
  top: 0;
  right: 119px;
  padding: 50px 0 0;
  width: 60px;
  height: 100px;
  background: url(../images/ribbon_w3c.svg) no-repeat;
  color: #FFF;
  counter-increment: slide;
  content: counter(slide);
  text-align: center;
  font-size: 20px;
  -webkit-transform: translateY(-15%) scale(0.7);
  -ms-transform: translateY(-15%) scale(0.7);
  transform: translateY(-15%) scale(0.7);
}

/* Generic slide features */
/* line 155, style.scss */
.slide {
  background: snow;
  font-family: myfont;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.75);
}
/* line 161, style.scss */
.slide h1, .slide h2, .slide h3, .slide h4, .slide li, .slide p, .slide td, .slide th, .slide blockquote, .slide dt, .slide dd, .slide figcaption {
  cursor: default;
}
/* line 165, style.scss */
.slide h1, .slide h2, .slide h3, .slide h4 {
  margin: 0 0 0px;
  padding-bottom: 2.2px;
  border-bottom: 2px solid #004480;
  color: #004480;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-align: center;
  font-weight: normal;
  line-height: 0.9em;
  padding-right: 1.6em;
  padding-left: 1.6em;
}
/* line 178, style.scss */
.slide h2 {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 182, style.scss */
.slide h2 {
  font-size: 1.5em;
  text-shadow: 0 1px 1px black;
}
/* line 187, style.scss */
.slide h3 {
  font-size: 1.1em;
}
/* line 191, style.scss */
.slide h4 {
  font-size: 1em;
}
/* line 195, style.scss */
.slide h1.title {
  font-size: 2.8em;
  padding-top: 2em;
  padding-bottom: 2.2px;
  border-bottom: none !important;
  text-align: center;
}
/* line 203, style.scss */
.slide ol ol, .slide ol ul, .slide ul ol, .slide ul ul {
  margin: 0 0 0 0.5em;
}
/* line 207, style.scss */
.slide .notitle {
  margin-top: 3em;
}
/* line 211, style.scss */
.slide a {
  background: transparent;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 221, style.scss */
.slide a:hover {
  background: rgba(250, 250, 30, 0.7);
  border-radius: 5px;
}
/* line 226, style.scss */
.slide kbd, .slide code, .slide pre, .slide samp {
  background: transparent;
  color: inherit;
}
/* line 231, style.scss */
.slide code, .slide pre {
  font-family: monospace;
  font-size: 80%;
  color: green;
}
/* line 237, style.scss */
.slide pre {
  line-height: 1.1em;
  white-space: pre !important;
}
/* line 243, style.scss */
.slide em {
  /* A Lea Verou trick for a nicer underline...*/
  background: linear-gradient(gray, gray) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.15em;
}
/* line 250, style.scss */
.slide ol li:before, .slide ul li:before {
  display: inline-block;
  width: 2em;
  color: #333333;
  text-align: right;
}
/* line 257, style.scss */
.slide table {
  /* General Tables */
  border-collapse: separate;
  border-spacing: 0.1em;
  border: none !important;
}
/* line 263, style.scss */
.slide table td {
  border: 1px solid #CCC;
  padding: 0.3em;
  padding-right: 0.5em;
}
/* line 269, style.scss */
.slide table th.headertop {
  text-align: center;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
/* line 275, style.scss */
.slide table th.headerleft {
  padding-right: 1em;
  text-align: right;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* line 283, style.scss */
.slide table.striped {
  /* "Striped" (sometimes called 'zebra') Tables */
}
/* line 285, style.scss */
.slide table.striped tr:nth-child(even) {
  background: #d2feef;
}
/* line 289, style.scss */
.slide table.striped td {
  border-top: none;
  border-bottom: none;
}
/* line 294, style.scss */
.slide table.striped tr td:first-child {
  border-left: none;
}
/* line 298, style.scss */
.slide table.striped tr td:last-child {
  border-right: none;
}
/* line 303, style.scss */
.slide table.comparison {
  /* "Comparison" tables */
  padding-left: 0em !important;
  margin: 0em !important;
  margin-bottom: 0.5em !important;
  font-size: 90%;
  table-layout: fixed;
}
/* line 311, style.scss */
.slide table.comparison th {
  text-align: center;
}
/* line 314, style.scss */
.slide table.comparison td {
  padding: 0.3em;
}

/* ------------------------------------------------------------------------------------------- */
/* "Shout" slides, ie, with one single message placed centrally                                */
/* In many of the slides this is combined with a background image and additional translations  */
/* ------------------------------------------------------------------------------------------- */
/* line 325, style.scss */
.slide.shout h2, .slide.shout h3 {
  text-shadow: 0 1px 1px black;
  border-bottom: none;
  width: 100%;
}
/* line 331, style.scss */
.slide.shout h3 {
  font-size: 3em;
  margin-top: 1em;
  text-align: center;
  line-height: 1;
  padding-right: 0em;
  padding-left: 0em;
}
/* line 340, style.scss */
.slide.shout h2 {
  font-size: 2.8em;
  margin-top: -1em;
  text-align: left;
  line-height: 1;
}
/* line 347, style.scss */
.slide.shout h3 {
  margin-top: 1.5em;
  font-size: 2em;
}
/* line 352, style.scss */
.slide.shout h2 {
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

/* line 357, style.scss */
.slide.cover img {
  width: 100%;
}

/* Stamp */
/* line 362, style.scss */
.slide .stamp {
  font-size: 5em;
  letter-spacing: 0.1em;
  position: absolute;
  top: 1.2em;
  left: 30%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  color: #ff1a1a;
  background: rgba(255, 255, 255, 0.6);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.2em;
  padding-left: 0.07em;
  padding-right: 0.07em;
  box-shadow: 0.05em 0.05em 0.05em #888;
  text-shadow: 0.05em 0.05em 0.05em gray;
}

/* line 380, style.scss */
.slide .stamp.small {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  position: absolute;
  top: 3.3em;
  left: 15%;
}

/* line 388, style.scss */
.slide.stamped::after, .slide.stamped h2, .slide.stamped ul, .slide.stamped ol, .slide.stamped figure, .slide.stamped p:not(.stamp), .slide.stamped blockquote {
  -webkit-filter: blur(2px) contrast(0.8) brightness(0.8);
  filter: blur(2px) contrast(0.8) brightness(0.8);
}

/* The first, "title" page */
/* line 401, style.scss */
.slide.titlepage h1, .slide.titlepage h2, .slide.titlepage h3, .slide.titlepage h4 {
  border-bottom: none !important;
  text-align: center;
}
/* line 406, style.scss */
.slide.titlepage h2 {
  font-size: 2em;
  margin-top: 2em;
  text-shadow: 0 1px 1px black;
}
/* line 412, style.scss */
.slide.titlepage h3 {
  font-size: 1em;
  text-transform: none;
  margin-bottom: 0.1em;
}
/* line 418, style.scss */
.slide.titlepage h4 {
  font-size: 0.8em;
  margin-bottom: 0.15em;
  text-transform: none;
}
/* line 424, style.scss */
.slide.titlepage p {
  font-size: 0.5em;
}
/* line 428, style.scss */
.slide.titlepage p.copyright {
  position: absolute;
  bottom: 0.3em;
  right: 10em;
  left: 15em;
  margin-bottom: 0;
  font-size: 35%;
  line-height: 1.3em;
}

/* line 440, style.scss */
.slide.cover .credit {
  margin-top: 3em;
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-size: 23%;
  position: absolute;
  left: 5px;
  bottom: 0px;
  color: snow;
}
/* line 451, style.scss */
.slide.cover h3 {
  background: rgba(194, 204, 204, 0.5);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Different ways of controlling figures. If the text should flow around the figure use, right or left; otherwise */
/* using flex boxes is probably the right way.                                                                    */
/* -------------------------------------------------------------------------------------------------------------- */
/* Note: for webkit and mozilla the min-width seems to be unnecessary, but it is necessary for Safari... */
/* ----------- */
/* line 538, style.scss */
figure.center, figure.centre {
  text-align: center;
}

/* line 542, style.scss */
figure.right {
  float: right;
  margin-left: 1em;
  max-width: 250px;
  min-width: 250px;
}
/* line 470, style.scss */
figure.right img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 7px 7px 5px #888;
}

/* line 548, style.scss */
figure.left {
  float: left;
  margin-right: 2em;
  max-width: 250px;
  min-width: 250px;
}
/* line 470, style.scss */
figure.left img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 7px 7px 5px #888;
}

/* line 554, style.scss */
figure.right.larger, figure.left.larger {
  max-width: 350px;
  min-width: 350px;
}
/* line 490, style.scss */
figure.right.larger img, figure.left.larger img {
  width: 350px;
}

/* line 558, style.scss */
figure.right.large, figure.left.large {
  max-width: 350px;
  min-width: 350px;
}
/* line 490, style.scss */
figure.right.large img, figure.left.large img {
  width: 350px;
}

/* line 562, style.scss */
div.flexright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}
/* line 499, style.scss */
div.flexright figure {
  margin-left: 1em;
  max-width: 250px;
  min-width: 250px;
}
/* line 470, style.scss */
div.flexright figure img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 7px 7px 5px #888;
}
/* line 503, style.scss */
div.flexright figure.larger {
  max-width: 300px;
  min-width: 300px;
}
/* line 482, style.scss */
div.flexright figure.larger img {
  width: 300px;
}
/* line 506, style.scss */
div.flexright figure.large {
  max-width: 350px;
  min-width: 350px;
}
/* line 490, style.scss */
div.flexright figure.large img {
  width: 350px;
}

/* line 566, style.scss */
div.flexleft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}
/* line 512, style.scss */
div.flexleft figure {
  margin-right: 2em;
  max-width: 250px;
  min-width: 250px;
}
/* line 470, style.scss */
div.flexleft figure img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 7px 7px 5px #888;
}
/* line 516, style.scss */
div.flexleft figure.larger {
  max-width: 300px;
  min-width: 300px;
}
/* line 482, style.scss */
div.flexleft figure.larger img {
  width: 300px;
}
/* line 519, style.scss */
div.flexleft figure.large {
  max-width: 350px;
  min-width: 350px;
}
/* line 490, style.scss */
div.flexleft figure.large img {
  width: 350px;
}

/* line 570, style.scss */
div.flexdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
/* line 524, style.scss */
div.flexdown figure {
  max-height: 300px;
  min-height: 300px;
  margin-top: 0em;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}
/* line 530, style.scss */
div.flexdown img {
  height: 300px;
}

/* line 574, style.scss */
img.noborder {
  border: 0px solid #CCC !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px #888 !important;
}

/* line 580, style.scss */
figure > figcaption {
  font-size: 30%;
  padding-top: 0;
  margin-top: 0;
  padding-left: 1em;
}

/* line 587, style.scss */
.credit::before {
  content: "Credit: ";
}

/* ---------------------*/
/* Misc stuff           */
/* ---------------------*/
/* line 595, style.scss */
dt {
  font-weight: bold;
}

/* line 596, style.scss */
dd {
  padding-left: 1.5em;
}

/* line 598, style.scss */
dl.plain dt {
  font-weight: inherit !important;
}

/* line 600, style.scss */
div.doublelist {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/* line 606, style.scss */
div.doublelist ul li {
  list-style: none !important;
}

/* line 610, style.scss */
div.doublelist ul li:before {
  content: "" !important;
}

/* line 614, style.scss */
p.copyright {
  font-size: 70%;
}

/* line 616, style.scss */
ul ul li {
  padding-bottom: 0em !important;
}

@media print {
  /* line 620, style.scss */
  figure.right img, figure.left img, div.flexright img, div.flexleft img {
    border: 0px solid #CCC !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px #888 !important;
  }

  /* line 625, style.scss */
  .slide .stamp {
    box-shadow: 0em 0em 0em #888;
    text-shadow: 0em 0em 0em #888;
  }
}

/*# sourceMappingURL=style.css.map */
