<!doctype html>
<html>
  <head>
    <title>Activity Report</title>
  </head>
  <body>
    <p id="doc">This template reports open issues and pull requests, sorted based on a score reporting the current level of activity around them.</p>
 <script id="main" type="text/x-handlebars-template">
      {{#if error}}
        <h3>{{ name }} - <b>Error:</b> {{ error.message }}</h3>
      {{else}}

        {{#if issues}}
        <section>
          <h2>{{ name }}</h2>

          {{#each issues}}
            <div>
              <h4>
                <a href="{{ html_url }}">{{ title }}</a>
              </h4>


              <div style="font-style: italic">
                {{#if pull_request}}
                 <strong>pull request</strong> -
                {{/if}}

                <span class="{{#ifCond comments '>' 0}} color--green {{else}} color--red {{/ifCond}}">
                  {{comments}} {{pluralize comments "comment" "comments" }}
                </span> -

                <span>
                  last update: <i class="{{dateColor updated_at}}">{{dateFormat updated_at}}</i>
                </span> -

                <span>assignee: {{#if assignee}}
                  <i class="color--green">{{ assignee.login }}</i>
                {{else}}
                  <i class="color--red">none</i>
                {{/if}}
                </span>

                {{#if labels}}
                  - {{# each labels}}
                      <span style="color: #{{color}}">{{name}}</span>
                    {{/each}}
                {{/if}}

              </div>
            </div>
          {{/each}}
        </section>
        {{/if}}
      {{/if}}
    </script>
</body>
</html>
