/* SCSS declaration and such... */
/* Import the original shower file */
@import url("screen.min.css");
/* ----------------------- */
/* Set all the right fonts */
/* ----------------------- */
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-Light-webfont.woff) format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-Regular-webfont.woff) format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-BoldItalic-webfont.woff) format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "myfont";
  src: url(../fonts/Roboto-LightItalic-webfont.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: "blackboard";
  src: url(../fonts/ArchitectsDaughter.woff) format("woff");
  font-style: normal;
}
/* --------------------- */
/* Generic setups        */
/* --------------------- */
/* line 101, style.scss */
body {
  font-family: myfont;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
}

/* line 106, style.scss */
ul ul li, ol ul li {
  font-size: 80% !important;
}

/* line 110, style.scss */
ul li, ol li {
  padding-bottom: 0.3em !important;
}

/* line 114, style.scss */
li, blockquote, td {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

/* ------------------------- */
/* Header part (in TOC mode) */
/* ------------------------- */
/* line 124, style.scss */
header a {
  color: khaki !important;
}
/* line 127, style.scss */
header p, header h1, header h2, header h3 {
  color: snow;
}

/* line 132, style.scss */
.caption {
  font-size: 22pt;
}
/* line 134, style.scss */
.caption a {
  text-shadow: 0 -1px 1px #005a9c;
  background: 0 0;
}
/* line 139, style.scss */
.caption a:hover {
  color: #5e93c8;
}

/* -------------------------------------- */
/*  The real meat: styles for slides      */
/* -------------------------------------- */
/* This places the logo and slide number on the upper right hand corner */
/* line 149, style.scss */
.slide::after {
  background: url(../images/ribbon_w3c.svg) no-repeat;
  width: 60px;
  font-size: 20px;
  padding: 50px 0 0;
  right: 110px;
  height: 130px;
  z-index: -2;
  -webkit-transform: translateY(-15%) scale(0.7);
  -ms-transform: translateY(-15%) scale(0.7);
  transform: translateY(-15%) scale(0.7);
}

/* Generic slide features */
/* line 161, style.scss */
.slide {
  background: snow;
  font-family: myfont;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.28;
}
/* line 168, style.scss */
.slide h1, .slide h2, .slide h3, .slide h4, .slide li, .slide p, .slide td, .slide th, .slide blockquote, .slide dt, .slide dd, .slide figcaption {
  cursor: default;
}
/* line 172, style.scss */
.slide h1, .slide h2, .slide h3, .slide h4 {
  margin: 0 0 0px;
  padding-bottom: 2.2px;
  border-bottom: 2px solid #004480;
  color: #004480;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-align: center;
  font-weight: normal;
  line-height: 0.9em;
  padding-right: 1.6em;
  padding-left: 1.6em;
}
/* line 185, style.scss */
.slide h2 {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 189, style.scss */
.slide h2 {
  font-size: 1.5em;
  text-shadow: 0 1px 1px black;
}
/* line 194, style.scss */
.slide h3 {
  font-size: 1.1em;
}
/* line 198, style.scss */
.slide h4 {
  font-size: 1em;
}
/* line 202, style.scss */
.slide h1.title {
  font-size: 2.8em;
  padding-top: 2em;
  padding-bottom: 2.2px;
  border-bottom: none !important;
  text-align: center;
}
/* line 210, style.scss */
.slide ol ol, .slide ol ul, .slide ul ol, .slide ul ul {
  margin: 0 0 0 0.5em;
}
/* line 214, style.scss */
.slide .notitle {
  margin-top: 3em;
}
/* line 218, style.scss */
.slide a {
  background: transparent;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 228, style.scss */
.slide a:hover {
  background: rgba(250, 250, 30, 0.7);
  border-radius: 5px;
}
/* line 233, style.scss */
.slide kbd, .slide code, .slide pre, .slide samp {
  background: transparent;
  color: inherit;
}
/* line 238, style.scss */
.slide code, .slide pre {
  font-family: monospace;
  font-size: 80%;
  color: green;
}
/* line 244, style.scss */
.slide pre {
  line-height: 1.1em;
  white-space: pre !important;
}
/* line 250, style.scss */
.slide em {
  /* A Lea Verou trick for a nicer underline...*/
  background: linear-gradient(gray, gray) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.15em;
}
/* line 257, style.scss */
.slide ol li:before, .slide ul li:before {
  display: inline-block;
  width: 2em;
  color: #333333;
  text-align: right;
}
/* line 264, style.scss */
.slide ul.smaller, .slide ol.smaller {
  font-size: 90%;
}
/* line 268, style.scss */
.slide table {
  /* General Tables */
  font-size: 90%;
  border-collapse: collapse;
  border-spacing: 0.1em;
  border: none !important;
  width: calc(80% + 100px + 100px);
  margin-left: 0;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}
/* line 279, style.scss */
.slide table td {
  border: 1px solid #CCC;
  padding: 0.3em;
  padding-right: 0.5em;
  text-align: left;
}
/* line 286, style.scss */
.slide table th.headertop {
  text-align: center;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
/* line 292, style.scss */
.slide table th.headerleft {
  padding-right: 1em;
  text-align: right;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* line 300, style.scss */
.slide table.striped {
  /* "Striped" (sometimes called 'zebra') Tables */
  border-right: none;
  border-left: none;
}
/* line 304, style.scss */
.slide table.striped tr:nth-child(even) {
  background: #d2feef;
}
/* line 308, style.scss */
.slide table.striped td, .slide table.striped th {
  border-top: none;
  border-bottom: none;
}
/* line 313, style.scss */
.slide table.striped tr td::first-child, .slide table.striped tr th::first-child {
  border-left: none;
}
/* line 317, style.scss */
.slide table.striped tr td::last-child, .slide table.striped tr th:last-child {
  border-right: none;
}
/* line 322, style.scss */
.slide table.comparison {
  /* "Comparison" tables */
  padding-left: 0em !important;
  margin: 0em !important;
  margin-bottom: 0.5em !important;
  font-size: 90%;
  table-layout: fixed;
}
/* line 330, style.scss */
.slide table.comparison th {
  text-align: center;
}
/* line 333, style.scss */
.slide table.comparison td {
  padding: 0.3em;
}
/* line 338, style.scss */
.slide .slidequote {
  font-size: 65%;
  margin-left: 2em;
  margin-right: 2em;
  border: thin solid;
  padding-left: 1.5em;
  padding-right: 1em;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #888;
}

/* ---------------------------------------------------------------------------------------------- */
/* "Alternative" slides, ie, slides that are an alternative for one (or several) previous slides  */
/* ---------------------------------------------------------------------------------------------- */
/* line 353, style.scss */
.slide.alternative h2 {
  background: AntiqueWhite !important;
}

/* ------------------------------------------------------------------------------------------- */
/* "Shout" slides, ie, with one single message placed centrally                                */
/* In many of the slides this is combined with a background image and additional translations  */
/* ------------------------------------------------------------------------------------------- */
/* line 362, style.scss */
.slide.shout h2, .slide.shout h3 {
  text-shadow: 0 1px 1px black;
  border-bottom: none;
  width: 100%;
}
/* line 368, style.scss */
.slide.shout h3 {
  font-size: 2em;
  margin-top: 1.5em;
  text-align: center;
  line-height: 1;
  padding-right: 0em;
  padding-left: 0em;
}
/* line 377, style.scss */
.slide.shout h2 {
  font-size: 2.8em;
  margin-top: -1em;
  text-align: left;
  line-height: 1;
}
/* line 384, style.scss */
.slide.shout h2 {
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

/* Stamp */
/* line 390, style.scss */
.slide .stamp {
  font-size: 5em;
  letter-spacing: 0.1em;
  position: absolute;
  top: 1.2em;
  left: 30%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  color: #ff1a1a;
  background: rgba(255, 255, 255, 0.6);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.2em;
  padding-left: 0.07em;
  padding-right: 0.07em;
  box-shadow: 0.05em 0.05em 0.05em #888;
  text-shadow: 0.05em 0.05em 0.05em gray;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 409, style.scss */
.slide .stamp.small {
  font-size: 2em;
  letter-spacing: 0.1em;
  position: absolute;
  top: 3.3em;
  left: 15%;
}

/* line 417, style.scss */
.slide.stamped::after, .slide.stamped h2, .slide.stamped ul, .slide.stamped ol, .slide.stamped figure, .slide.stamped dl, .slide.stamped p:not(.stamp), .slide.stamped blockquote {
  -webkit-filter: blur(2px) contrast(0.8) brightness(0.8);
  filter: blur(2px) contrast(0.8) brightness(0.8);
}

/* The first, "title" page */
/* line 430, style.scss */
.slide.titlepage h1, .slide.titlepage h2, .slide.titlepage h3, .slide.titlepage h4 {
  border-bottom: none !important;
  text-align: center;
}
/* line 435, style.scss */
.slide.titlepage h2 {
  font-size: 2em;
  margin-top: 2em;
  text-shadow: 0 1px 1px black;
}
/* line 441, style.scss */
.slide.titlepage h3 {
  font-size: 1em;
  text-transform: none;
  margin-bottom: 0.1em;
}
/* line 447, style.scss */
.slide.titlepage h4 {
  font-size: 0.8em;
  margin-bottom: 0.15em;
  text-transform: none;
}
/* line 453, style.scss */
.slide.titlepage p {
  font-size: 0.5em;
}
/* line 457, style.scss */
.slide.titlepage p.copyright {
  position: absolute;
  bottom: 0.3em;
  right: 10em;
  left: 10em;
  margin-bottom: 0;
  font-size: 35%;
  line-height: 1.3em;
}

/* line 469, style.scss */
.slide.cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  z-index: -1;
}
/* line 481, style.scss */
.slide.cover .credit {
  margin-top: 3em;
  margin-bottom: 0px;
  padding-bottom: 15px;
  font-size: 23%;
  position: absolute;
  left: 5px;
  bottom: 0px;
  color: snow;
}
/* line 492, style.scss */
.slide.cover h3 {
  background: rgba(194, 204, 204, 0.75);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  color: inherit;
  margin-top: 2em;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Different ways of controlling figures. If the text should flow around the figure use, right or left; otherwise */
/* using flex boxes is probably the right way.                                                                    */
/* -------------------------------------------------------------------------------------------------------------- */
/* Note: for webkit and mozilla the min-width seems to be unnecessary, but it is necessary for Safari... */
/* line 595, style.scss */
figure.middle {
  text-align: center;
}
/* line 597, style.scss */
figure.middle img {
  max-height: 460px;
  min-height: 460px;
  /* 7px 7px 5px #888 */
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 602, style.scss */
figure.middle video {
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 607, style.scss */
figure.single_screendump {
  text-align: center;
  transform: translateY(-40px);
}
/* line 609, style.scss */
figure.single_screendump img {
  max-height: 460px;
  min-height: 460px;
  /* 7px 7px 5px #888 */
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* ----------- */
/* line 619, style.scss */
figure.center, figure.centre {
  text-align: center;
}

/* line 623, style.scss */
figure.right {
  float: right;
  margin-left: 1em;
  max-width: 250px;
  min-width: 250px;
}
/* line 517, style.scss */
figure.right img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 629, style.scss */
figure.left {
  float: left;
  margin-right: 1.3em;
  max-width: 250px;
  min-width: 250px;
}
/* line 517, style.scss */
figure.left img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 635, style.scss */
figure.right.larger, figure.left.larger {
  max-width: 300px;
  min-width: 300px;
}
/* line 527, style.scss */
figure.right.larger img, figure.left.larger img {
  width: 300px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 639, style.scss */
figure.right.large, figure.left.large {
  max-width: 350px;
  min-width: 350px;
}
/* line 536, style.scss */
figure.right.large img, figure.left.large img {
  width: 350px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 643, style.scss */
div.flexright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}
/* line 555, style.scss */
div.flexright figure {
  margin-left: 1em;
  max-width: 250px;
  min-width: 250px;
}
/* line 517, style.scss */
div.flexright figure img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 559, style.scss */
div.flexright figure.larger {
  max-width: 300px;
  min-width: 300px;
}
/* line 527, style.scss */
div.flexright figure.larger img {
  width: 300px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 562, style.scss */
div.flexright figure.large {
  max-width: 350px;
  min-width: 350px;
}
/* line 536, style.scss */
div.flexright figure.large img {
  width: 350px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 565, style.scss */
div.flexright figure.extra-large {
  max-width: 400px;
  min-width: 400px;
}
/* line 545, style.scss */
div.flexright figure.extra-large img {
  width: 400px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 647, style.scss */
div.flexleft {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}
/* line 571, style.scss */
div.flexleft figure {
  margin-right: 1.3em;
  max-width: 250px;
  min-width: 250px;
}
/* line 517, style.scss */
div.flexleft figure img {
  max-width: inherit;
  width: 250px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 575, style.scss */
div.flexleft figure.larger {
  max-width: 300px;
  min-width: 300px;
}
/* line 527, style.scss */
div.flexleft figure.larger img {
  width: 300px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}
/* line 578, style.scss */
div.flexleft figure.extra-large {
  max-width: 400px;
  min-width: 400px;
}
/* line 545, style.scss */
div.flexleft figure.extra-large img {
  width: 400px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 2px #888;
}

/* line 651, style.scss */
div.flexdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
/* line 583, style.scss */
div.flexdown figure {
  max-height: 300px;
  min-height: 300px;
  margin-top: 0em;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}
/* line 589, style.scss */
div.flexdown img {
  height: 300px;
}

/* line 655, style.scss */
img.noborder {
  border: 0px solid #CCC !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px #888 !important;
}

/* line 661, style.scss */
figure > figcaption {
  font-size: 25%;
  padding-top: 0;
  margin-top: 0;
  /* padding-left:1em; */
  text-align: center;
}

/* line 669, style.scss */
.credit::before {
  content: "Credit: ";
  font-style: italic;
}

/* ---------------------*/
/* Misc stuff           */
/* ---------------------*/
/* line 678, style.scss */
dt {
  font-weight: bold;
}

/* line 679, style.scss */
dd {
  padding-left: 1.5em;
}

/* line 681, style.scss */
dl.plain dt {
  font-weight: inherit !important;
}

/* line 683, style.scss */
div.doublelist {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/* line 689, style.scss */
div.doublelist ul li {
  list-style: none !important;
}

/* line 693, style.scss */
div.doublelist ul li::before {
  content: "" !important;
}

/* line 697, style.scss */
p.copyright {
  font-size: 70%;
}

/* line 699, style.scss */
ul ul li {
  padding-bottom: 0em !important;
}

@media print {
  /* line 703, style.scss */
  figure.right img, figure.left img, div.flexright img, div.flexleft img {
    border: 0px solid #CCC !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px #888 !important;
  }

  /* line 708, style.scss */
  .slide .stamp {
    box-shadow: 0em 0em 0em #888;
    text-shadow: 0em 0em 0em #888;
  }
}

/*# sourceMappingURL=style.css.map */
