
html, body {
    margin: 0;
    padding:    0;
}
header.navbar-inverse {
    background: linear-gradient(to bottom, rgb(7, 62, 128) 0px, rgb(0, 45, 80) 100%) repeat scroll 0 0 #000;
}
.navbar-header h1.navbar-brand {
    color:  #fff;
    margin: 0;
}
td, th {
    text-align: left;
    vertical-align: top;
}
div.content {
    margin-top: 4em;
}
td.type {
    font-size:  0.8em;
}
td.stability {
    text-align: center;
}
tr.unknown td, tr.unknown th {
    background: #fcf8e3;
}
tr.stable td, tr.stable th {
    background: #dff0d8;
}
tr.weak.unstable td, tr.weak.unstable th {
    background: #d9edf7;
}
tr.strong.unstable td, tr.strong.unstable th {
    background: #f2dede;
}
tr.stable td.stability {
    font-size:  1.5em;
    line-height:    1;
}
tr.unstable td.stability {
    font-size:  2.5em;
    line-height:    1;
    color:  #da0;
}

/* sorting */
.sorting {
    white-space: nowrap;
}
.sorting::after {
    content:    "  ▼";
    color:  #da0;
}
.sortable {
    white-space: nowrap;
    cursor: pointer;
}
.sortable::after {
    content:    "  ▽";
    color:  #da0;
}
