#content {
    margin: 0 3em;
}

ol {
    list-style-type:  none;
}

li.ok > a, td.ok {
    background: #cfc;
    border-left:  3px solid #0c0;
}

li.risk > a, td.risk {
    color:  #666;
    border-left:    3px solid #ccc;
}

span.risk {
    border: 1px dashed #333;
    border-radius:  3px;
    font-size:  0.8em;
    background: #eee;
    padding: 0 2px;
}

li.needs > a, td.needs {
    background: #fcf;
    border-left:    3px solid #ff0;
}

span.needs {
    border: 1px dotted #ff0;
    border-radius:  3px;
    font-size:  0.8em;
    padding: 0 2px;
    background: #fef;
}

li.informative > a, td.informative {
    color:  #999;
    text-decoration: line-through;
}

span.reviewed {
    font-size:  0.8em;
    background-color: green;
    color: white;
    padding: 0 2px;
}

li.reviewed > a {
    color:  #999;
}

span.informative {
    font-size:  0.8em;
    padding: 0 2px;
}

span.priority {
    font-size:  0.8em;
    padding: 0 2px;
    background: #f00;
    color:  #fff;
}

span.number {
    font-size:  0.8em;
    color:  #090;
    margin-left:   20px;
    border-bottom:  1px dotted #090;
}

/*li.ok > a, li.ok > span {
    display:    none;
}
*/
