# $Id: .htaccess,v 1.1 2014-08-12 09:00:39 ivan Exp $
<Files ~ "\.html">
ForceType 'text/html; charset=UTF-8'
</Files>

AddType application/vnd.openxmlformats-officedocument.presentationml.presentation pptx

RewriteEngine On
RewriteBase /2014/Talks/1023-SF-IH/

##############################################################################
# Taking care of the Overview page in HTML and RDF
RewriteRule Overview.rdf /2012/pyRdfa/extract?format=xml&amp;uri=http://www.w3.org/2014/Talks/1023-SF-IH/Overview.html [L]
RewriteRule Overview.ttl /2012/pyRdfa/extract?uri=http://www.w3.org/2014/Talks/1023-SF-IH/Overview.html [L]



